/* PDF */
:root {
  --pdf-color-aside:#EEEEEE;
}

.pdfc-inner {
  display: flex;
}

.pdfc-inner-inner {
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pdfc-inner p {
  font-size: var(--text-size-input);
}

.pdf-sec-heading {
  display: flex;
  align-items: center;
  gap: 2cqw;
  font-size: var(--heading-size-input);
  line-height: 1.2;
}

.pdf-sec-heading:after {
  content: "";
  flex: 1;
  height: 0.25cqw;
  background-color: red;
}

.pdf-sec:not(:has(p:not(:empty))) .pdf-sec-heading {
  display: none;
}

.pdf-sec-elem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5cqw;
}

/* PDF Aside */
.pdf-aside {
  height: 100%;
  width: 35cqw;
  padding: 2cqw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--pdf-color-aside);
}

.pdf-sec-elem:not(:has(p:not(:empty))) .pdf-sec-subhead {
  display: none;
}

.pdf-sec-subhead {
  display: none;
}

.pdf-sec-subhead.subhead-visible {
  display: block;
}

.pdf-sec-icon {
  width: 2.5cqw;
  aspect-ratio: 1/1;
}

.pdf-sec-icon svg {
  stroke-width: 1.25cqw;
}

.aside-dark-txt .pdfc-inner .pdf-sec-icon svg,
.aside-light-txt.dark-mode .pdfc-inner .pdf-sec-icon svg {
  stroke: var(--txt1);
}

.aside-light-txt .pdfc-inner .pdf-sec-icon svg,
.aside-dark-txt.dark-mode .pdfc-inner .pdf-sec-icon svg {
  stroke: var(--txt2);
}

.pdf-sec-title {
  width: 100%;
}

/* PDF Aside - Photo & QR Code */
.insert-photo,
.qr-insert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.insert-photo {
  margin-top: calc((100% - var(--photo-size-input)) / 2);
}

.qr-insert {
  margin-bottom: calc((100% - var(--qr-size-input)) / 2);
}

.insert-photo:not(:has(.insert-logo-img)),
.qr-insert:not(:has(.insert-logo-img)) {
  display: none;
}

.insert-logo-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
}

.insert-photo .insert-logo-img {
  width: var(--photo-size-input);
  top: calc(var(--photo-border-input) * -1);
  border: solid var(--photo-border-input) var(--pdf-color-main);
  border-radius: var(--photo-round-input);
}

.qr-insert .insert-logo-img {
  width: var(--qr-size-input);
}

/* PDF Aside - Details */
.pdf-sec-address {
  gap: 0;
}

.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-city:not(:empty)) .pdf-address:after,
.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-post-code:not(:empty)) .pdf-address:after {
  content: ",";
}

.pdf-sec-address p:not(:empty) {
  margin-left: 0.5cqw;
}

/* PDF Aside - Skills & Hobbies */
.pdf-elem-tiles > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--skills-gap-input);
}

.pdf-elem-tiles .app-elem {
  padding: calc(var(--text-size-input) / 4) calc(var(--text-size-input) / 2);
  background-color: rgb(var(--skills-shade-input), var(--skills-transpar-input));
  border-radius: calc((var(--text-size-input)) * var(--skills-round-input));
}

/* PDF Aside - Links */
.pdf-links-sec {
  margin-top: auto;
}

.pdf-links-sec .pdf-sec-elem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* PDF Main */
.pdf-main {
  flex: 1;
  height: 100%;
  padding: 2cqw;
  box-sizing: border-box;
}

.pdf-main > div {
  width: 100%;
}

/* PDF Main - Heading */
.pdf-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.5cqw;
}

.pdf-occupation,
.pdf-summary {
  width: 100%;
}

/* PDF Main - List Group */
.pdf-list-group {
  display: flex;
  flex-wrap: wrap;
}

.append-elem-group {
  width: 100%;
  display: flex;
}

.pdf-list-group > .app-elem:nth-of-type(2) {
  margin-left: auto;
}

.pdf-list-group:has(.app-elem:nth-of-type(2):not(:empty) + .app-elem:nth-of-type(3):not(:empty)) > .app-elem:nth-of-type(2):after {
  content: "-";
  margin: 0 0.5cqw;
}

.append-elem-group:has(.app-elem:nth-of-type(1):not(:empty) + .app-elem:nth-of-type(2):not(:empty)) .app-elem:nth-of-type(1):after {
  content: ", ";
  margin-right: 0.5cqw;
}

.pdf-list-group > p:nth-last-child(1) {
  width: 100%;
}

/* PDF Main - References */
.pdf-ref {
  display: flex;
  flex-wrap: wrap;
}

.pdf-ref:has(.app-elem:nth-of-type(1):not(:empty) + .app-elem:nth-of-type(2):not(:empty)) > .app-elem:nth-of-type(1):after {
  content: ", ";
  margin-right: 0.5cqw;
}

.pdf-ref:has(:where(.app-elem:nth-of-type(2):not(:empty) + .app-elem:nth-of-type(3):not(:empty),
.app-elem:nth-of-type(1):not(:empty) ~ .app-elem:nth-of-type(3):not(:empty))) > .app-elem:nth-of-type(2):after {
  content: "-";
  margin: 0 0.5cqw;
}

/* --/*|*\-- PDF Settings --/*|*\-- */
/* Colors */
.aside-dark-txt .pdf-aside :where(p, h5, h3),
.aside-light-txt.dark-mode .pdf-aside :where(p, h5, h3) {
  color: var(--txt1);
}

.aside-light-txt .pdf-aside :where(p, h5, h3),
.aside-dark-txt.dark-mode .pdf-aside :where(p, h5, h3) {
  color: var(--txt2);
}

.color-warning {
  display: none;
}

.show-color-warning {
  display: block;
}

/* Text */
.pdf-sec-heading,
.pdf-sec-title {
  text-transform: capitalize;
}

.head-uppercase :where(.pdf-sec-heading, .pdf-sec-title) {
  text-transform: uppercase;
}

.pdf-content * {
  font-family: var(--text-tf-input);
}
