/* PDF */
:root {
  --pdf-color-aside:#EEEEEE;
}

.pdfc-inner {
  display: flex;
}

.pdfc-inner-inner {
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pdf-sec {
  display: flex;
  flex-direction: column;
  gap: var(--paragraph-spacing-input);
}

.pdf-sec:not(:has(p:not(:empty))) .pdf-sec-heading {
  display: none;
}

.pdf-sec-elem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5cqw;
}

.pdf-sec-elem:not(:has(p:not(:empty))) {
  display: none;
}

.pdf-sec > div {
  position: relative;
  z-index: 1000;
}

.pdf-sec-elem p:empty {
  display: none;
}

/* PDF Aside */
.pdf-aside {
  height: 100%;
  width: 35cqw;
  padding: 2cqw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing-input);
  background-color: var(--pdf-color-aside);
}

.pdf-sec-subhead {
  display: none;
  font-size: calc(var(--text-size-input) - 0.3cqw);
}

.pdf-sec-elem:not(:has(p:not(:empty))) .pdf-sec-subhead {
  display: none;
}

.pdf-sec-subhead.subhead-visible {
  display: block;
}

.pdf-sec-icon {
  width: 2.5cqw;
  aspect-ratio: 1/1;
}

.pdf-sec-icon svg {
  stroke-width: 1.25cqw;
}

.aside-dark-txt .pdfc-inner .pdf-sec-icon svg,
.aside-light-txt.dark-mode .pdfc-inner .pdf-sec-icon svg {
  stroke: var(--txt1);
}

.aside-light-txt .pdfc-inner .pdf-sec-icon svg,
.aside-dark-txt.dark-mode .pdfc-inner .pdf-sec-icon svg {
  stroke: var(--txt2);
}

.pdf-sec-title {
  width: 100%;
}

/* PDF Aside - Photo & QR Code */
.insert-photo,
.qr-insert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.insert-photo {
  margin-top: calc((100% - var(--photo-size-input)) / 2);
}

.qr-insert {
  margin-bottom: calc((100% - var(--qr-size-input)) / 2);
}

.insert-photo:not(:has(.insert-logo-img)),
.qr-insert:not(:has(.insert-logo-img)) {
  display: none;
}

.insert-logo-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
}

.insert-photo .insert-logo-img {
  width: var(--photo-size-input);
  top: calc(var(--photo-border-input) * -1);
  border: solid var(--photo-border-input) #FAFAFA;
  border-radius: var(--photo-round-input);
}

.aside-dark-txt .insert-photo .insert-logo-img {
  border-color: #222222;
}

.photo-main-color .insert-photo .insert-logo-img {
  border-color: var(--pdf-color-main);
}

.qr-insert .insert-logo-img {
  width: var(--qr-size-input);
}

/* PDF Aside - Details */
.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-city:not(:empty)) .pdf-address:after,
.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-post-code:not(:empty)) .pdf-address:after {
  content: ",";
}

/* PDF Aside - Skills & Hobbies */
.pdf-elem-tiles > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-gap-input);
}

.pdf-elem-tiles .app-elem {
  padding: calc(var(--text-size-input) / 4) calc(var(--text-size-input) / 2);
  background-color: rgb(var(--general-shade-input), var(--general-transpar-input));
  border-radius: calc((var(--text-size-input) * var(--line-height-input) + var(--text-size-input) * 0.5) * var(--general-round-input) * 0.5);
}

/* PDF Aside - Links */
.pdf-links-sec {
  margin-top: auto;
}

.pdf-links-sec .pdf-sec-elem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* PDF Main */
.pdf-main {
  flex: 1;
  height: 100%;
  padding: 2cqw;
  box-sizing: border-box;
}

.pdf-main > div {
  width: 100%;
}

.pdf-main * {
  color: #444;
}

/* PDF Main - Heading */
.pdf-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.5cqw;
}

.pdf-occupation,
.pdf-summary {
  width: 100%;
}

/* PDF Main - List Group */
.pdf-list-group {
  display: flex;
}

.pdf-list-inner {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.pdf-list-inner p:empty {
  display: none;
}

.append-elem-group {
  width: 100%;
  display: flex;
}

.append-elem-group:not(:has(p:not(:empty))) {
  display: none;
}

.pdf-list-inner > .app-elem:nth-of-type(2) {
  margin-left: auto;
  display: block;
}

.pdf-list-inner:has(.app-elem:nth-of-type(2):not(:empty) + .app-elem:nth-of-type(3):not(:empty)) > .app-elem:nth-of-type(2):after {
  content: "-";
  margin: 0 0.5cqw;
}

.append-elem-group:has(.app-elem:nth-of-type(1):not(:empty) + .app-elem:nth-of-type(2):not(:empty)) .app-elem:nth-of-type(1):after {
  content: ", ";
  margin-right: 0.5cqw;
}

.pdf-list-inner > p:nth-last-child(1) {
  width: 100%;
}

/* PDF Main - References */
.pdf-ref {
  display: flex;
  flex-wrap: wrap;
}

.pdf-ref:has(.app-elem:nth-of-type(1):not(:empty) + .app-elem:nth-of-type(2):not(:empty)) > .app-elem:nth-of-type(1):after {
  content: ", ";
  margin-right: 0.5cqw;
}

.pdf-ref:has(:where(.app-elem:nth-of-type(2):not(:empty) + .app-elem:nth-of-type(3):not(:empty),
.app-elem:nth-of-type(1):not(:empty) ~ .app-elem:nth-of-type(3):not(:empty))) > .app-elem:nth-of-type(2):after {
  content: "-";
  margin: 0 0.5cqw;
}

/* --/*|*\-- PDF Settings --/*|*\-- */
/* Colors */
.aside-dark-txt .pdf-aside :where(p, h5, h3) {
  color: #222222;
}

.aside-light-txt .pdf-aside :where(p, h5, h3) {
  color: #FAFAFA;
}

.aside-dark-txt .pdf-aside .pdf-sec-subhead {
  color: #6A6A6A;
}

.aside-light-txt .pdf-aside .pdf-sec-subhead {
  color: #CFCFCF;
}

/* Text */
.pdfc-inner p {
  font-size: var(--text-size-input);
  line-height: var(--line-height-input);
}

.pdf-sec-heading,
.pdf-sec-title {
  text-transform: capitalize;
}

.head-uppercase :is(.pdf-sec-heading, .pdf-sec-title) {
  text-transform: uppercase;
}

.pdf-content * {
  font-family: var(--text-tf-input);
}

/* Heading */
.pdf-sec-heading {
  --head-height:calc(1em * var(--line-height-input));
  --border-size:0.2cqw;
  align-self: center;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--heading-size-input);
  text-transform: capitalize;
  line-height: var(--line-height-input);
}

.pdf-aside .pdf-sec-heading {
  --pdf-bg:var(--pdf-color-aside);
  --head-small-width:90%;
}

.pdf-main .pdf-sec-heading {
  --pdf-bg:#FFF;
  --head-small-width:65%;
}

.pdf-sec-heading:before,
.pdf-sec-heading:after {
  content: "";
  height: var(--border-size);
  background-color: var(--pdf-color-main);
  border-radius: calc(var(--border-size) * var(--general-round-input) / 2);
  display: none;
}

/* Style 2 */
.head-design2 .pdf-sec-heading {
  justify-content: center;
}

/* Style 3 & 4 */
.head-design4 .pdf-sec-heading {
  justify-content: center;
}

:is(.head-design3, .head-design4) .pdf-sec-heading:after {
  width: 100%;
  position: absolute;
  top: calc(100% + var(--border-size));
  left: 0;
  display: block;
}

/* Style 5 & 6 */
:is(.head-design5, .head-design6) .pdf-sec-heading {
  gap: calc(var(--general-gap-input) * 1.5);
}

.head-design6 .pdf-sec-heading:before,
:is(.head-design5, .head-design6) .pdf-sec-heading:after {
  flex: 1;
  display: block;
}

/* Style 7 */
.head-design7 .pdf-sec-heading {
  width: var(--head-small-width);
  height: var(--head-height);
  justify-content: center;
  border: solid var(--border-size) var(--pdf-color-main);
  border-radius: calc((var(--head-height) + var(--border-size) * 2) * var(--general-round-input) / 2);
}

/* Style 8 */
.head-design8 {
  overflow: hidden;
}

.head-design8 .pdf-sec-heading {
  width: var(--head-small-width);
  height: var(--head-height);
  justify-content: center;
  border: solid var(--border-size) var(--pdf-color-main);
  border-radius: calc((var(--head-height) + var(--border-size) * 2) * var(--general-round-input) / 2);
}

.head-design8 .pdf-sec-heading:before,
.head-design8 .pdf-sec-heading:after {
  content: "";
  height: calc((var(--head-height) + var(--border-size) * 1.25) * 1.4);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: absolute;
  display: block;
  background-color: var(--pdf-bg);
  z-index: 100;
}

.head-design8 .pdf-sec-heading:before {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  border-right: solid var(--border-size) var(--pdf-color-main);
}

.head-design8 .pdf-sec-heading:after {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(45deg);
  border-left: solid var(--border-size) var(--pdf-color-main);
}

/* Style 9 & 10 */
:where(.head-design9, .head-design10) .pdf-sec-heading {
  width: var(--head-small-width);
  height: var(--head-height);
  justify-content: center;
  color: #FAFAFA !important;
  background-color: var(--pdf-color-main);
}

.head-design9 .pdf-sec-heading {
  border-radius: calc(var(--head-height) * var(--general-round-input) / 2);
}

.head-design10 .pdf-sec-heading:before,
.head-design10 .pdf-sec-heading:after {
  content: "";
  height: var(--head-height);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 100;
}

.head-design10 .pdf-sec-heading:before {
  top: 0;
  left: 0;
  border: solid calc(var(--head-height) / 2) var(--pdf-bg);
  border-right: solid calc(var(--head-height) / 2) transparent;
  border-bottom: solid calc(var(--head-height) / 2) transparent;
}

.head-design10 .pdf-sec-heading:after {
  bottom: 0;
  right: 0;
  border: solid calc(var(--head-height) / 2) var(--pdf-bg);
  border-left: solid calc(var(--head-height) / 2) transparent;
  border-top: solid calc(var(--head-height) / 2) transparent;
}

/* Language Level */
.pdfc-inner {
  --lvl-height:calc(var(--text-size-input) / 2);
}

.hide-lvl,
.lang-design1 .pdf-lang-elem :where(.pdf-lang-lvl-long, .lang-lvl-span),
.lang-design2 .pdf-lang-elem :where(.pdf-lang-lvl-short, .lang-lvl-span),
body:not(.lang-design1, .lang-design2) .pdf-lang-elem :where(.pdf-lang-lvl-short, .pdf-lang-lvl-long) {
  display: none !important;
}

.pdf-lang-elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:is(.lang-design1, .lang-design2, .lang-design8) .pdf-lang-elem {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5cqw;
}

.pdf-lang-lvl {
  width: 100%;
  height: var(--lvl-height);
  position: relative;
  display: flex;
  overflow: hidden;
}

:is(.lang-design1, .lang-design2, .lang-design8) .pdf-lang-lvl {
  flex: 1;
  width: auto;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}

.pdf-lang-elem .lang-lvl-span {
  flex: 1;
  height: 100%;
  position: relative;
  background-color: rgb(var(--general-shade-input), var(--general-transpar-input));
}

.pdf-lang-elem .active-span {
  background-color: var(--pdf-color-main);
}

:is(.lang-design3, .lang-design4, .lang-design5) .pdf-lang-elem .lang-lvl-span:not(.active-span) {
  background-color: transparent;
}

/* Style 3 & 4 */
.lang-design3 .pdf-lang-lvl {
  border: solid 0.2cqw var(--pdf-color-main);
  border-radius: calc((var(--lvl-height) + 0.4cqw) * var(--general-round-input) / 2);
}

.lang-design4 .pdf-lang-lvl {
  background-color: rgb(var(--general-shade-input), var(--general-transpar-input));
  border-radius: calc(var(--lvl-height) * var(--general-round-input) / 2);
}

:is(.lang-design3, .lang-design4) .last-active-span {
  border-radius: 0 calc(var(--lvl-height) * var(--general-round-input) / 2) calc(var(--lvl-height) * var(--general-round-input) / 2) 0;
}

/* Style 5 & 7 */
.lang-design5 .pdf-lang-lvl {
  background-color: rgb(var(--general-shade-input), var(--general-transpar-input));
}

.lang-design5 .pdf-lang-lvl:before,
.lang-design5 .pdf-lang-lvl:after,
.lang-design5 .pdf-lang-elem .lang-lvl-span:before,
.lang-design5 .pdf-lang-elem .lang-lvl-span:after,
.lang-design7 .pdf-lang-elem .lang-lvl-span:before,
.lang-design7 .pdf-lang-elem .lang-lvl-span:after {
  content: "";
  width: var(--lvl-height);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
}

.lang-design5 .pdf-lang-lvl:before,
.lang-design5 .pdf-lang-elem .last-active-span + .lang-lvl-span:before,
.lang-design7 .pdf-lang-elem .lang-lvl-span:before {
  top: 0;
  left: 0;
  border: solid calc(var(--lvl-height) / 2) var(--pdf-color-aside);
  border-right: solid calc(var(--lvl-height) / 2) transparent;
  border-bottom: solid calc(var(--lvl-height) / 2) transparent;
}

.lang-design5 .pdf-lang-elem .last-active-span + .lang-lvl-span:before {
  border: solid calc(var(--lvl-height) / 2) var(--pdf-color-main);
  border-right: solid calc(var(--lvl-height) / 2) transparent;
  border-bottom: solid calc(var(--lvl-height) / 2) transparent;
}

.lang-design5 .pdf-lang-lvl:after,
.lang-design7 .pdf-lang-elem .lang-lvl-span:after {
  bottom: 0;
  right: 0;
  border: solid calc(var(--lvl-height) / 2) var(--pdf-color-aside);
  border-top: solid calc(var(--lvl-height) / 2) transparent;
  border-left: solid calc(var(--lvl-height) / 2) transparent;
}

/* Style 6 */
.lang-design6 .pdf-lang-lvl {
  gap: var(--general-gap-input);
}

.lang-design6 .pdf-lang-elem .lang-lvl-span {
  border-radius: calc(var(--lvl-height) * var(--general-round-input) * 0.5);
}

/* Style 8 */
.lang-design8 .pdf-lang-lvl {
  gap: calc(var(--lvl-height) / 2);
}

.lang-design8 .pdf-lang-elem .lang-lvl-span {
  flex: none;
  width: calc(var(--lvl-height) * 1.5);
  height: calc(var(--lvl-height) * 1.5);
  border-radius: 50%;
}

/* Main Sections */
.pdf-list-group {
  --design-size:0.2cqw;
  --design-indicator:1cqw;
  position: relative;
}

.pdf-list-inner {
  padding: 0 calc(var(--design-indicator) * 2);
  padding-bottom: calc(var(--design-size) * 3);
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.pdf-list-group:nth-last-child(1) .pdf-list-inner {
  padding-bottom: 0;
}

.list-design-elem {
  width: var(--design-size);
  min-height: calc(100% + var(--design-indicator) + var(--design-size) * 3 - var(--text-size-input) * var(--line-height-input) / 2);
  position: absolute;
  top: calc(var(--text-size-input) * var(--line-height-input) / 2 - var(--design-indicator) / 2);
  background-color: var(--pdf-color-main);
  z-index: 1000;
}

.pdf-list-group:nth-last-child(1) .list-design-elem {
  min-height: 0;
}

.list-design-elem:before,
.list-design-elem:after {
  content: "";
  width: var(--design-indicator);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #FFFFFF;
  border: solid var(--design-size) var(--pdf-color-main);
  border-radius: calc(100% * var(--general-round-input) / 2);
}

.list-design-elem:after {
  top: auto;
  bottom: 0;
  display: none;
}

/* Style 1 & 2 */
:is(.main-design1, .main-design2) .list-design-elem {
  display: none;
}

.main-design2 .pdf-list-group:not(:nth-last-of-type(1)) .list-design-elem {
  width: calc(100% - var(--design-indicator) * 4);
  height: var(--design-size);
  min-height: 0;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
}

.main-design2 .pdf-list-group:not(:nth-last-child(1)) .list-design-elem:before {
  display: none;
}

/* Style 4 - 8 */
:is(.main-design4, .main-design6, .main-design8) .list-design-elem:before {
  background-color: var(--pdf-color-main);
}

:is(.main-design5, .main-design6) .list-design-elem {
  top: 0;
}

:is(.main-design5, .main-design6) .list-design-elem:before {
  height: calc(var(--text-size-input) * var(--line-height-input));
  aspect-ratio: auto;
}

:is(.main-design7, .main-design8) .list-design-elem {
  min-height: calc(100% - var(--text-size-input) * var(--line-height-input) / 2 - var(--design-size) * 3);
}

:is(.main-design7, .main-design8) .pdf-list-group:nth-last-child(1) .list-design-elem {
  min-height: calc(100% - var(--text-size-input) * var(--line-height-input) / 2);
}

:is(.main-design7, .main-design8) .list-design-elem:after {
  display: block;
}

.main-design8 .list-design-elem:after {
  background-color: var(--pdf-color-main);
}
