    
    

    /* Sections */

.sections{
    flex:1;
}

.section{
    width:calc(100% - var(--size1) * 2);
    height:calc(100% - var(--size1) * 3.5);
    padding:var(--size1) 0 calc(var(--size1) - 5px);

    position:absolute;
    top:var(--size1);
    left:calc(-100% - 25vw);

    transition:all 0.15s, left 0.35s;
}

.visible-section{
    left:var(--size1);
}

.section-inner{
    width:100%;
    height:100%;
    padding:0 var(--size1);
    box-sizing:border-box;
    
    display:flex;
    flex-direction:column;
    gap:calc(var(--size1) * 1.5);
    overflow:auto;
}

.section-inner::-webkit-scrollbar{
    width:8px;
}

.section-inner::-webkit-scrollbar-thumb{
    background:var(--txt-faded3);
    border:solid 3px transparent;
    border-top-width:0;
    border-bottom-width:0;
    background-clip:padding-box;
}

.section-inner::-webkit-scrollbar-thumb:hover{
    background:var(--txt-faded);
    border:solid 3px transparent;
    border-top-width:0;
    border-bottom-width:0;
    background-clip:padding-box;
}

.section-inner::-webkit-scrollbar-corner{
    background:transparent;
}

.subsection{
    width:100%;
}

.subsection:nth-last-of-type(1){
    padding-bottom:5px;
}

        /* Sections - Nav */

.section-nav{
    width:100%;
    height:var(--size1);
    margin-bottom:var(--size1);
    padding:0 var(--size1);
    box-sizing:border-box;

    position:absolute;
    bottom:0;
    left:0;

    display:flex;
    gap:var(--size1);
}

.sec-nav-btn{
    flex:1;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background-color:var(--shade1);
    border-radius:var(--mainRadius1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);

    transition:0.15s;
    cursor:pointer;
}

.sec-nav-btn:hover{
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow3) var(--color1);
}

.sec-nav-btn p{
    position:relative;
    bottom:-1px;

    color:var(--txt1);
    font-size:16px;
    text-transform:uppercase;
    line-height:1.2;

    user-select:none;
    transition:0.15s;
}

.sec-nav-btn:hover p{
    color:var(--color1);
}

.sec-nav-prev p{
    margin-left:8px;
}

.sec-nav-next p{
    margin-right:8px;
}

            /* Sections - Arrows */

.sec-nav-arrow{
    height:100%;
    width:10px;
    position:relative;
}

.sec-nav-arrow span{
    width:12px;
    height:2px;

    position:absolute;
    top:50%;
    left:50%;

    background-color:var(--txt1);
    border-radius:200px;
    transition:0.15s;
}

.sec-nav-btn:hover span{
    background-color:var(--color1);
}

.sec-nav-prev:hover span{
    left:0;
}

.sec-nav-next:hover span{
    left:100%;
}

.sec-nav-btn span:nth-child(1){
    transform:translate(-50%, calc(-50% - 4px)) rotate(-45deg);
}

.sec-nav-btn span:nth-child(2){
    transform:translate(-50%, calc(-50% + 4px)) rotate(45deg);
}

.sec-nav-next span:nth-child(1){
    transform:translate(-50%, calc(-50% - 4px)) rotate(45deg);
}

.sec-nav-next span:nth-child(2){
    transform:translate(-50%, calc(-50% + 4px)) rotate(-45deg);
}

        /* Sections - Headings */

.section-heading{
    width:100%;
    display:flex;
    justify-content:center;
}

.sec-head{
    margin-bottom:calc(var(--size1) * -1);

    background:linear-gradient(to right,
        var(--color1a), var(--color1), var(--color2), var(--color2a));
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    
    font-family:font1-semibold;
    font-size:min(28px, 6vw);
    text-transform:capitalize;
    filter:drop-shadow(0 0 1px var(--shade2));

    line-height:1.2;
    text-align:center;
    text-wrap:balance;
}

.sec-subhead-div{
    width:100%;
    display:flex;
    align-items:center;
    gap:var(--size1);
}

.sec-subhead{
    color:var(--txt1);
    font-family:font1-semibold;
    line-height:1.2;
    text-transform:capitalize;
    text-wrap:balance;
}

.sec-subhead-line{
    flex:1;
    height:2px;


    background-color:var(--color1);
    border-radius:200px;
}

.sec-desc{
    color:var(--txt-faded);
    font-size:16px;
    text-wrap:balance;
}

        /* Sections - Input (Item) */

.section-item{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.section-item label{
    margin-bottom:2px;
    pointer-events:none;
}

.sec-input{
    height:32px;
    padding:0 8px;
    box-sizing:border-box;

    color:var(--txt1);
    font-size:18px;
    
    border:none;
    box-shadow:var(--box-shadow3) var(--txt-faded3);
    border-radius:var(--radius1);

    cursor:text;
    transition:0.15s;
}

.sec-input:hover,
.sec-input:focus{
    box-shadow:var(--box-shadow3) var(--color1);
}

.sec-input::-webkit-calendar-picker-indicator{ 
    cursor:pointer;
}

.sec-input.validation-failed{
    box-shadow:var(--box-shadow3) var(--color2);
}

.sec-textarea{
    width:100%;
    height:160px;
    padding:8px;
    resize:none;
}

        /* Sections - Add & Delete Input Buttons */

.add-btn,
.delete-btn{
    height:32px;
    aspect-ratio:1/1;
    position:relative;

    background-color:var(--shade1);
    box-shadow:var(--box-shadow3) var(--txt-faded3);
    border-radius:var(--radius1);

    transition:0.15s;
    cursor:pointer;
}

.add-btn:hover,
.delete-btn:hover{
    background-color:var(--color1);
}

.add-btn span{
    width:70%;
    height:3px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    background-color:var(--color1);
    border-radius:200px;
    transition:0.15s;
}

.add-btn:hover span{
    background-color:var(--shade1);
}

.add-btn span:nth-child(2){
    transform:translate(-50%, -50%) rotate(90deg);
}

.delete-btn:after{
    content:"";
    width:70%;
    height:3px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    background-color:var(--color1);
    border-radius:200px;
    transition:0.15s;
}

.delete-btn:hover:after{
    background-color:var(--shade1);
}

        /* Sections - media */

@media screen and (width <= 768px){

    .section{
        height:calc(100% - var(--size1) * 4.5);
    }

    .section-nav{
        height:calc(var(--size1) * 1.5);
    }

    .sec-desc{
        font-size:15px;
    }

}

@media screen and (width <= 320px){

    .sec-nav-btn p{
        display:none;
    }

}



    /* Section1 - Profile */

.section1 .subsection{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    gap:var(--size1);
    row-gap:calc(var(--size1) / 2);
}

.section1 .section-item{
    flex:30%;
}

.section1 .sec-input{
    width:100%;
}


        /* Section1 - Links */

.section1 .sec-links{
    display:flex;
    flex-direction:column;
}

.section1 .sec-links .add-btn{
    order:1;
}

.section1 .sec-link{
    width:100%;
    display:flex;
    align-items:flex-end;
    gap:var(--size1);
}


