


    /* PDF */

:root{
    --pdf-color-aside:#EEEEEE;
}

.pdfc-inner{
    display:flex;
}

.pdfc-inner-inner{
    container-type:inline-size;

    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
}

.pdf-sec,
.pdf-main .pdf-sec > div{
    display:flex;
    flex-direction:column;
    gap:var(--paragraph-spacing-input);
}

.pdf-sec:has(> div:empty),
.pdf-heading:not(:has(p:not(:empty))),
.pdf-aside .pdf-sec:not(:has(p:not(:empty))),
.pdf-aside .pdf-sec:not(:has(p:not(:empty))) .pdf-sec-heading,
.pdf-sum-sec:has(p:empty),
.pdf-add-info-sec:has(p:empty){
    display:none;
}

.pdf-sec-elem{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    column-gap:calc(var(--text-size-input) / 3);
}

.pdf-sec-elem:not(:has(p:not(:empty))){
    display:none;
}

.pdf-sec > div{
    position:relative;
    z-index:1000;
}

.pdf-sec-elem p:empty{
    display:none;
}



    /* PDF Aside */

.pdf-aside{
    height:100%;
    width:var(--aside-width-input);
    padding:var(--page-padding-input);
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    gap:var(--section-spacing-input);

    background-color:var(--pdf-color-aside);
}

.aside-right .pdf-aside{
    order:1;
}

.pdf-sec-subhead{
    display:none;
    font-size:calc(var(--text-size-input) - 0.3cqw);
}

.pdf-sec-elem:not(:has(p:not(:empty))) .pdf-sec-subhead{
    display:none;
}

.pdf-sec-subhead.subhead-visible{
    display:flex;
}

.pdf-sec-icon{
    width:2.5cqw;
    height:2.5cqw;

    justify-content:center;
    align-items:center;
}

.pdf-sec-icon svg{
    stroke-width:1.25cqw;
}

.aside-dark-txt .pdfc-inner .pdf-sec-icon svg,
.aside-light-txt.dark-mode .pdfc-inner .pdf-sec-icon svg{
    stroke:var(--txt1);
}

.aside-light-txt .pdfc-inner .pdf-sec-icon svg,
.aside-dark-txt.dark-mode .pdfc-inner .pdf-sec-icon svg{
    stroke:var(--txt2);
}

.pdf-sec-title{
    width:100%;
}



        /* PDF Aside - Photo & QR Code */

.pdf-qr-div{
    display:flex;
    flex-direction:column;
    gap:var(--paragraph-spacing-input);
}

.pdf-qr-div:not(:has(p:not(:empty))){
    display:none;
}

.pdf-aside:has(.pdf-links:empty) .pdf-qr-div{
    margin-top:auto;
}

.insert-photo,
.qr-insert{
    width:100%;
    display:flex;
    justify-content:center;
}

.insert-photo{
    margin-top:calc((100% - var(--photo-size-input)) / 2);
}

.qr-insert{
    margin-bottom:calc((100% - var(--qr-size-input)) / 2);
}

.insert-photo:not(:has(.insert-logo-img)),
.qr-insert:not(:has(.insert-logo-img)){
    display:none;
}

.insert-logo-img{
    aspect-ratio:1/1;
    object-fit:cover;
    position:relative;
}

.insert-photo .insert-logo-img{
    width:calc((
        var(--aside-width-input) - var(--page-padding-input)
    ) * var(--photo-size-num));
    min-height:calc(((
        var(--aside-width-input) - var(--page-padding-input)
    ) * var(--photo-size-num)) / 4 * 3);
    max-height:calc(((
        var(--aside-width-input) - var(--page-padding-input)
    ) * var(--photo-size-num)) / 3 * 4);

    aspect-ratio:auto;
    box-sizing:border-box;
    top:calc(var(--photo-border-input) * -1);

    border:solid var(--photo-border-input) #FAFAFA;
    border-radius:var(--photo-round-input);
}

.aside-dark-txt .insert-photo .insert-logo-img{
    border-color:#222222;
}

.photo-main-color .insert-photo .insert-logo-img{
    border-color:var(--pdf-color-main);
}

.qr-insert .insert-logo-img{
    width:var(--qr-size-input);
}

.pdf-qr-name{
    text-align:center;
}

        /* PDF Aside - Details */

.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-city:not(:empty)) .pdf-address:after,
.pdf-sec-elem:has(.pdf-address:not(:empty) ~ .pdf-post-code:not(:empty)) .pdf-address:after{
    content:",";
}

.pdf-sec-elem:has(.pdf-address:not(:empty) + .pdf-city:not(:empty) + .pdf-post-code:not(:empty)) .pdf-address{
    width:calc(100% - (2.5cqw + (var(--text-size-input) / 3)));
}

.pdf-sec-elem:has(.pdf-sec-icon.subhead-visible ~ .pdf-address:not(:empty) + .pdf-city:not(:empty) + .pdf-post-code:not(:empty)) .pdf-city{
    margin-left:calc(2.5cqw + (var(--text-size-input) / 3));
}


        /* PDF Aside - Skills & Hobbies */

.skills-layout-col .skill-append,
.hobby-layout-col .hobby-append{
    flex-direction:column;
    align-items:flex-start;
}

.pdf-elem-tiles > div{
    display:flex;
    flex-wrap:wrap;
    gap:var(--general-gap-input);
}

.pdf-elem-tiles .app-elem{
    padding:calc(var(--text-size-input) / 4) calc(var(--text-size-input) / 2);
    background-color:rgb(var(--general-shade-input), var(--general-transpar-input));
    border-radius:calc(((var(--text-size-input) * var(--line-height-input)) + (var(--text-size-input) * 0.5)) * (var(--general-round-input) * 0.5));
}

        /* PDF Aside - Links */

.pdf-links{
    display:flex;
    flex-direction:column;
    gap:var(--paragraph-spacing-input);
}

.pdf-links-sec{
    margin-top:auto;
}

.pdf-links-sec .pdf-sec-elem{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.aside-dark-txt .pdf-links-sec .pdf-sec-elem p:nth-of-type(1){
    color:#6A6A6A;
}

.aside-light-txt .pdf-links-sec .pdf-sec-elem p:nth-of-type(1){
    color:#CFCFCF;
}



    /* PDF Main */

.pdf-main{
    flex:1;
    height:100%;
    padding:var(--page-padding-input);
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    gap:var(--section-spacing-input);
    background-color:#FFF;
}

.pdf-main > div{
    width:100%;
}

.pdf-main *{
    color:#444;
}

        /* PDF Main - Heading */

.pdf-heading{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    column-gap:calc(var(--heading-size-input) / 3 * 2);
}

.pdfc-inner :is(.pdf-first-name, .pdf-last-name){
    font-size:calc(var(--heading-size-input) * 1.8);
}

.pdfc-inner .pdf-occupation{
    font-size:var(--heading-size-input);
}

.pdf-occupation,
.pdf-summary{
    width:100%;
}

.pdf-summary{
    text-align:var(--text-align-input);
}

.balanced-txt .pdf-summary{
    text-wrap:balance;
}

        /* PDF Main - List Group */

.pdf-list-group{
    display:flex;
}

.pdf-list-inner{
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

:is(.pdf-exp-sec, .pdf-edu-sec, .pdf-ref-sec, .pdf-cour) .pdf-list-inner{
    justify-content:flex-end;
}


.pdf-list-inner p:empty{
    display:none;
}

.append-elem-group{
    width:100%;
    display:flex;
}

.append-elem-group:not(:has(p:not(:empty))){
    display:none;
}

:is(.pdf-exp-sec, .pdf-edu-sec, .pdf-ref-sec)
    .pdf-list-inner > .app-elem:nth-of-type(1){
    font-weight:800;
}

:is(.pdf-exp-sec, .pdf-edu-sec, .pdf-ref-sec, .pdf-cour)
    .pdf-list-inner > :is(.app-elem:nth-of-type(2), .app-elem:nth-of-type(3)){
    transition:color 0.1s ease-in-out;

    &:is(:focus, :hover){
        color:var(--pdf-color-main);
    }

}

:is(.pdf-exp-sec, .pdf-edu-sec, .pdf-ref-sec, .pdf-cour) .pdf-list-inner:has(
    > :is(.app-elem:nth-of-type(2), .app-elem:nth-of-type(3)):not(:empty)
) > .app-elem:nth-of-type(1){
    max-width:calc(
        100% - ((var(--text-size-input) * 12) + (var(--text-size-input) * 2))
    );
}

.balanced-txt :is(.pdf-exp-sec, .pdf-edu-sec, .pdf-ref-sec, .pdf-cour)
    .pdf-list-inner > .app-elem:nth-of-type(1){
    text-wrap:pretty;
}

.pdf-list-inner > .app-elem:nth-of-type(2){
    margin-left:auto;
    display:block;
}

.pdf-list-inner:has(
    .app-elem:nth-of-type(2):not(:empty) + 
    .app-elem:nth-of-type(3):not(:empty)) 
> .app-elem:nth-of-type(2):after{
    content:"-";
    margin:0 calc(var(--text-size-input) / 3);
}

.append-elem-group:has(
    .app-elem:nth-of-type(1):not(:empty) + 
    .app-elem:nth-of-type(2):not(:empty)) 
.app-elem:nth-of-type(1):after{
    content:", ";
    margin-right:calc(var(--text-size-input) / 3);
}

.pdf-list-inner > p:nth-last-child(1){
    width:100%;
    text-align:var(--text-align-input);
}

.balanced-txt .pdf-list-inner > p:nth-last-child(1),
.balanced-txt .pdf-list-inner > p:nth-last-child(1) *{
    text-wrap:balance;
}

        /* PDF Main - References & Additional Section */

.pdf-ref{
    display:flex;
    flex-wrap:wrap;
}

.pdf-ref:has(
    .app-elem:nth-of-type(1):not(:empty) + 
    .app-elem:nth-of-type(2):not(:empty)) 
> .app-elem:nth-of-type(1):after{
    content:", ";
    margin-right:calc(var(--text-size-input) / 3);
}

.pdf-ref:has(
    :where(
        .app-elem:nth-of-type(2):not(:empty) + 
        .app-elem:nth-of-type(3):not(:empty),
        .app-elem:nth-of-type(1):not(:empty) ~ 
        .app-elem:nth-of-type(3):not(:empty)
    )
) > .app-elem:nth-of-type(2):after{
    content:"-";
    margin:0 calc(var(--text-size-input) / 3);
}

.additional-sec-snap .pdf-add-info-sec{
    margin-top:auto;
}

.pdf-add-info{
    text-wrap:balance;
}

.additional-sec-small-txt .pdf-add-info{
    font-size:calc(var(--text-size-input) * 0.75);
}



/* --/*|*\-- PDF Settings --/*|*\-- */



    /* Colors */

.aside-dark-txt .pdf-aside :where(p, h5, h3){
    color:#222222;
}
.aside-light-txt .pdf-aside :where(p, h5, h3){
    color:#FAFAFA;
}

.aside-dark-txt .pdf-aside .pdf-sec-subhead{
    color:#6A6A6A;
}
.aside-light-txt .pdf-aside .pdf-sec-subhead{
    color:#CFCFCF;
}



    /* Text */

.pdfc-inner p{
    font-size:var(--text-size-input);
    line-height:var(--line-height-input);
}

.pdf-sec-heading,
.pdf-sec-title{
    text-transform:capitalize;
}

.head-uppercase :is(.pdf-sec-heading, .pdf-sec-title){
    text-transform:uppercase;
}

.pdf-content *{
    font-family:var(--text-tf-input);
}



    /* Heading */

.pdf-sec-heading{
    --head-height:calc(1em * var(--line-height-input));
    --border-size:0.2cqw;
    align-self:center;
    
    width:100%;
    position:relative;

    display:flex;
    align-items:center;
    
    font-size:var(--heading-size-input);
    text-transform:capitalize;
    line-height:var(--line-height-input);
    transition:color 0.1s ease-in-out;

    &:hover,
    &:focus{
        color:var(--pdf-color-main);
    }

}

.pdf-aside .pdf-sec-heading{
    --pdf-bg:var(--pdf-color-aside);
    --head-small-width:90%;
    margin-bottom:calc(var(--border-size) * 2);
}

.pdf-main .pdf-sec-heading{
    --pdf-bg:#FFF;
    --head-small-width:65%;
}
    
.pdf-sec-heading:before,
.pdf-sec-heading:after{
    content:"";
    height:var(--border-size);
    background-color:var(--pdf-color-main);
    border-radius:calc(var(--border-size) * (var(--general-round-input) / 2));
    display:none;
}

        /* Style 2 */

.head-design2 .pdf-sec-heading{
    justify-content:center;
}

        /* Style 3 & 4 */

.head-design4 .pdf-sec-heading{
    justify-content:center;
}

:is(.head-design3, .head-design4) .pdf-sec-heading{
    margin-bottom:calc(var(--border-size) * 2);
}

:is(.head-design3, .head-design4) .pdf-sec-heading:after{
    width:100%;
    position:absolute;
    top:calc(100% + var(--border-size));
    left:0;
    display:block;
}

         /* Style 5 & 6 */

:is(.head-design5, .head-design6) .pdf-sec-heading{
    gap:calc(var(--general-gap-input) * 1.5);
}

.head-design6 .pdf-sec-heading:before,
:is(.head-design5, .head-design6) .pdf-sec-heading:after{
    flex:1;
    display:block;
}

        /* Style 7 */

.head-design7 .pdf-sec-heading{
    width:var(--head-small-width);
    height:var(--head-height);
    justify-content:center;

    border:solid var(--border-size) var(--pdf-color-main);
    border-radius:calc((var(--head-height) + (var(--border-size) * 2)) * var(--general-round-input) / 2);
}

        /* Style 8 */

.head-design8{
    overflow:hidden;
}

.head-design8 .pdf-sec-heading{
    width:var(--head-small-width);
    height:var(--head-height);
    justify-content:center;

    border:solid var(--border-size) var(--pdf-color-main);
    border-radius:calc((var(--head-height) + (var(--border-size) * 2)) * var(--general-round-input) / 2);
}

.head-design8 .pdf-sec-heading:before,
.head-design8 .pdf-sec-heading:after{
    content:"";
    height:calc((var(--head-height) + (var(--border-size) * 1.25)) * 1.4);
    aspect-ratio:1/1;
    box-sizing:border-box;
    position:absolute;
    display:block;

    background-color:var(--pdf-bg);
    z-index:100;
}

.head-design8 .pdf-sec-heading:before{
    top:0;
    left:var(--border-size);
    transform:translate(-50%, -50%) rotate(45deg);
    border-right:solid var(--border-size) var(--pdf-color-main);
}

.head-design8 .pdf-sec-heading:after{
    bottom:0;
    right:var(--border-size);
    transform:translate(50%, 50%) rotate(45deg);
    border-left:solid var(--border-size) var(--pdf-color-main);
}

        /* Style 9 & 10 */

:where(.head-design9, .head-design10) .pdf-sec-heading{
    width:var(--head-small-width);
    height:var(--head-height);
    justify-content:center;

    color:#FAFAFA !important;
    background-color:var(--pdf-color-main);
}

.head-design9 .pdf-sec-heading{
    border-radius:calc(var(--head-height) * var(--general-round-input) / 2);
}

.head-design10 .pdf-sec-heading:before,
.head-design10 .pdf-sec-heading:after{
    content:"";
    height:var(--head-height);
    aspect-ratio:1/1;
    box-sizing:border-box;

    display:block;
    position:absolute;
    z-index:100;
}

.head-design10 .pdf-sec-heading:before{
    top:0;
    left:0;

    border:solid calc(var(--head-height) / 2) var(--pdf-bg);
    border-right:solid calc(var(--head-height) / 2) transparent;
    border-bottom:solid calc(var(--head-height) / 2) transparent;
}

.head-design10 .pdf-sec-heading:after{
    bottom:0;
    right:0;

    border:solid calc(var(--head-height) / 2) var(--pdf-bg);
    border-left:solid calc(var(--head-height) / 2) transparent;
    border-top:solid calc(var(--head-height) / 2) transparent;
}



    /* Language Level */

.pdfc-inner{
    --lvl-height:calc(var(--text-size-input) / 2);
}

.lang-append{
    display:flex;
    flex-direction:column;
    gap:var(--paragraph-spacing-input);
}

.hide-lvl,
.lang-design1 .pdf-lang-elem :where(.pdf-lang-lvl-long, .lang-lvl-span),
.lang-design2 .pdf-lang-elem :where(.pdf-lang-lvl-short, .lang-lvl-span),
body:not(.lang-design1, .lang-design2) .pdf-lang-elem :where(.pdf-lang-lvl-short, .pdf-lang-lvl-long){
    display:none !important;
}

.pdf-lang-elem{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

:is(.lang-design1, .lang-design2, .lang-design8) .pdf-lang-elem{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:0.5cqw;
}

.pdf-lang-lvl{
    width:100%;
    height:var(--lvl-height);
    box-sizing:border-box;
    position:relative;

    display:flex;
    overflow:hidden;
}

:is(.lang-design1, .lang-design2, .lang-design8) .pdf-lang-lvl{
    flex:1;
    width:auto;
    height:100%;

    justify-content:flex-end;
    align-items:center;
    overflow:visible;
}

.pdf-lang-elem .lang-lvl-span{
    flex:1;
    height:100%;
    position:relative;
    background-color:rgb(var(--general-shade-input), var(--general-transpar-input));
}

.pdf-lang-elem .active-span{
    background-color:var(--pdf-color-main);
}

:is(.lang-design3, .lang-design4, .lang-design5) .pdf-lang-elem
    .lang-lvl-span:not(.active-span){
    background-color:transparent;
}

        /* Style 3 & 4 */

.lang-design3 .pdf-lang-lvl{
    height:calc((var(--text-size-input) / 2) + 0.4cqw);
    border:solid 0.2cqw var(--pdf-color-main);
    border-radius:calc((var(--lvl-height) + 0.4cqw) * (var(--general-round-input) / 2));
}

.lang-design4 .pdf-lang-lvl{
    background-color:rgb(var(--general-shade-input), var(--general-transpar-input));
    border-radius:calc(var(--lvl-height) * (var(--general-round-input) / 2));
}

:is(.lang-design3, .lang-design4) .last-active-span{
    border-radius:0 
        calc(var(--lvl-height) * (var(--general-round-input) / 2))
        calc(var(--lvl-height) * (var(--general-round-input) / 2))
        0;
}

        /* Style 5 & 7 */

.lang-design5 .pdf-lang-lvl{
    background-color:rgb(var(--general-shade-input), var(--general-transpar-input));
}

.lang-design5 .pdf-lang-lvl:before,
.lang-design5 .pdf-lang-lvl:after,

.lang-design5 .pdf-lang-elem .lang-lvl-span:before,
.lang-design5 .pdf-lang-elem .lang-lvl-span:after,

.lang-design7 .pdf-lang-elem .lang-lvl-span:before,
.lang-design7 .pdf-lang-elem .lang-lvl-span:after{
    content:"";
    width:0;
    height:0;

    position:absolute;
    top:0;
    z-index:100;
}

.lang-design5 .pdf-lang-lvl:before,
.lang-design5 .pdf-lang-elem .last-active-span + .lang-lvl-span:before,
.lang-design7 .pdf-lang-elem .lang-lvl-span:before{
    left:0;

    border:solid calc(var(--lvl-height) / 1.4) var(--pdf-color-aside);
    border-right:solid calc(var(--lvl-height) / 1.4) transparent;
    border-bottom:solid calc(var(--lvl-height) / 1.4) transparent;
}

.lang-design5 .pdf-lang-elem .last-active-span + .lang-lvl-span:before{
    border:solid calc(var(--lvl-height) / 1.4) var(--pdf-color-main);
    border-right:solid calc(var(--lvl-height) / 1.4) transparent;
    border-bottom:solid calc(var(--lvl-height) / 1.4) transparent;
}

.lang-design5 .pdf-lang-lvl:after,
.lang-design7 .pdf-lang-elem .lang-lvl-span:after{
    right:0;

    border:solid calc(var(--lvl-height) / 1.4) var(--pdf-color-aside);
    border-top:solid calc(var(--lvl-height) / 1.4) transparent;
    border-left:solid calc(var(--lvl-height) / 1.4) transparent;
}

        /* Style 6 */

.lang-design6 .pdf-lang-lvl{
    gap:var(--general-gap-input);
}

.lang-design6 .pdf-lang-elem .lang-lvl-span{
    border-radius:calc(var(--lvl-height) * (var(--general-round-input) * 0.5));
}

        /* Style 8 */

.lang-design8 .pdf-lang-lvl{
    gap:calc(var(--lvl-height) / 2);
}

.lang-design8 .pdf-lang-elem .lang-lvl-span{
    flex:none;
    width:calc(var(--lvl-height) * 1.5);
    height:calc(var(--lvl-height) * 1.5);
    border-radius:50%;
}



    /* Main Sections */

.pdf-list-group{
    --design-size:0.2cqw;;
    --design-indicator:1cqw;
    position:relative;
}

.pdf-list-inner{
    padding-left:calc(var(--design-indicator) * 2);
    box-sizing:border-box;
    position:relative;
    display:flex;
}

.list-design-elem{
    width:var(--design-size);
    min-height:calc(100% + var(--design-indicator));

    position:absolute;
    top:calc((var(--text-size-input) * var(--line-height-input) / 2) - (var(--design-indicator) / 2) + 1px);

    background-color:var(--pdf-color-main);
    z-index:1000;
}

.pdf-list-group:nth-last-child(1) .list-design-elem{
    min-height:0;
}

.list-design-elem:before,
.list-design-elem:after{
    content:"";
    width:var(--design-indicator);
    aspect-ratio:1/1;
    box-sizing:border-box;

    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, 0);

    background-color:#FFFFFF;
    border:solid var(--design-size) var(--pdf-color-main);
    border-radius:calc(100% * var(--general-round-input) / 2);
}

.list-design-elem:after{
    top:auto;
    bottom:0;
    display:none;
}

            /* Style 1 & 2 */

:is(.main-design1, .main-design2) .list-design-elem{
    display:none;
}

.main-design2 .pdf-list-group:not(:nth-last-of-type(1)) .list-design-elem{
    width:calc(100% - (var(--design-indicator) * 4));
    height:var(--design-size);
    min-height:0;

    top:auto;
    bottom:0;
    left:50%;
    transform:translate(-50%, 0);
    display:block;
}

.main-design2 .pdf-list-group:not(:nth-last-child(1)) .list-design-elem:before{
    display:none;
}

            /* Style 4 - 8 */

:is(.main-design4, .main-design6, .main-design8) .list-design-elem:before{
    background-color:var(--pdf-color-main);
}

:is(.main-design5, .main-design6) .list-design-elem{
    top:0;
}

:is(.main-design5, .main-design6) .list-design-elem:before{
    height:calc(var(--text-size-input) * var(--line-height-input));
    aspect-ratio:auto;
}

:is(.main-design7, .main-design8) .pdf-list-group .list-design-elem{
    min-height:calc(100% - (var(--text-size-input) * var(--line-height-input) / 2));
}

:is(.main-design7, .main-design8) .list-design-elem:after{
    display:block;
}

.main-design8 .list-design-elem:after{
    background-color:var(--pdf-color-main);
}










    /* PDF Print */


@media print{
    
    @page{ 
        margin:0;
        padding:0;
        // Size set in JS/TS
    }

    html{
        width:100%;
        aspect-ratio:var(--page-dimensions-input);
        margin:0;

        position:absolute;
        top:0;
        left:0;
    }
    
    body > *:not(main),
    nav,
    .sections,
    .close-pdf-btn{
        display:none !important;
    }

    main,
    .main-wrapper,
    .pdf-content,
    .pdfc-inner{
        width:100%;
        aspect-ratio:var(--page-dimensions-input);
        padding:0;
        margin:0;

        background-color:transparent;
        box-shadow:none;
        border-radius:0;
        backdrop-filter:none;
    }

    .pdfc-inner{
        background-color:#FFF;
    }

    .pdfc-inner-inner{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        aspect-ratio:var(--page-dimensions-input);
        display:flex !important;
    }

}