


    /* PDF */

.pdfc-inner{
    display:flex;
}

.pdfc-inner-inner{
    container-type:inline-size;

    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
}

.pdf-sec-heading{
    display:flex;
    align-items:center;
    gap:2cqw;

    font-size:4cqw;
    line-height:1.2;
}

.pdf-sec-heading:after{
    content:"";
    flex:1;
    height:0.25cqw;
    background-color:red;
}

.pdf-sec:not(:has(p:not(:empty))) .pdf-sec-heading{
    display:none;
}

.pdfc-inner p{
    font-size:3cqw;
}





    /* PDF Aside */

.pdf-aside{
    height:100%;
    width:35cqw;
    padding:1cqw;
    box-sizing:border-box;
    background-color:#DDD;
}

.pdf-sec-icon{
    width:3cqw;
    aspect-ratio:1/1;
}

.pdf-sec-icon svg{
    stroke:red;
    stroke-width:1cqw;
}

.pdf-sec-elem:not(:has(p:not(:empty))) .pdf-sec-icon{
    display:none;
}

        /* PDF Aside - Photo */

.insert-photo{
    width:100%;
    aspect-ratio:1/1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.insert-photo:not(:has(.insert-logo-img)){
    display:none;
}

.insert-logo-img{
    width:80%;
}

        /* PDF Aside - Contact */

.insert-photo{
    width:100%;
    aspect-ratio:1/1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.insert-logo-img{
    width:80%;
}























    /* PDF Main */

.pdf-main{
    flex:1;
}

.pdf-main > div{
    width:100%;
}

.pdf-details{
    display:flex;
    flex-wrap:wrap;
    column-gap:1cqw;
}

.pdf-occupation{
    width:100%;
}







